CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=mlops
POSTGRES_PASSWORD=mlops123
POSTGRES_DB=metrics_db
GF_SECURITY_ADMIN_PASSWORD=admin123

# consumer
KAFKA_BOOTSTRAP =123.30.48.173:9092
TOPIC=metrics-raw
GROUP_ID=metrics-consumer-group